In [1]:
import pandas as pd

In [2]:
!ls ../input

answer_scores.csv      groups.csv	    school_memberships.csv
answers.csv	       matches.csv	    students.csv
comments.csv	       professionals.csv    tag_questions.csv
emails.csv	       question_scores.csv  tag_users.csv
group_memberships.csv  questions.csv	    tags.csv

### Howdy

Your job in this Data Science for Good competition is to develop a recommendation engine that will suggest relevant questions to professionals via email. Students ask questons on the CareerVillage.org platform and Professionals answer them. CareerVillage.org has a pretty good recommendation system inplace that's based on hard-coded rules. They would love to make it more efficient and improve it's performance. That's where you come in :)

Since questions and answers are the main focus of this competition, I thought it would be helpful to join a few tables together to help get things started. This is totally not an exhaustive list of things to do and there's a lot more data to explore so go get wild!

It's all about questions and answer and how to make proper recommendations so these tables might be a good palce to start:

- questions.csv
- answers.csv
- professionals.csv

In [3]:
questions = pd.read_csv('../input/questions.csv')
answers = pd.read_csv('../input/answers.csv')
professionals = pd.read_csv('../input/professionals.csv')

In [4]:
questions.head()

                       questions_id                        ...                                                             questions_body
0  332a511f1569444485cf7a7a556a5e54                        ...                          What  is  a  maths  teacher?   what  is  a  ma...
1  eb80205482e4424cad8f16bc25aa2d9c                        ...                          I am Priyanka from Bangalore . Now am in 10th ...
2  4ec31632938a40b98909416bdd0decff                        ...                          I'm planning on going abroad for my first job....
3  2f6a9a99d9b24e5baa50d40d0ba50a75                        ...                          i hear business management is a hard way to ge...
4  5af8880460c141dbb02971a1a8369529                        ...                          I'm trying to find scholarships for first year...

[5 rows x 5 columns]

In [5]:
answers.head()

                         answers_id                        ...                                                               answers_body
0  4e5f01128cae4f6d8fd697cec5dca60c                        ...                          <p>Hi!</p>\n<p>You are asking a very interesti...
1  ada720538c014e9b8a6dceed09385ee3                        ...                          <p>Hi. I joined the Army after I attended coll...
2  eaa66ef919bc408ab5296237440e323f                        ...                          <p>Dear Priyanka,</p><p>Greetings! I have answ...
3  1a6b3749d391486c9e371fbd1e605014                        ...                          <p>I work for a global company who values high...
4  5229c514000446d582050f89ebd4e184                        ...                          I agree with Denise. Every single job I've had...

[5 rows x 5 columns]

In [6]:
professionals.head()

                   professionals_id              ...                  professionals_date_joined
0  9ced4ce7519049c0944147afb75a8ce3              ...               2011-10-05 20:35:19 UTC+0000
1  f718dcf6d2ec4cb0a52a9db59d7f9e67              ...               2011-10-05 20:49:21 UTC+0000
2  0c673e046d824ec0ad0ebe012a0673e4              ...               2011-10-18 17:31:26 UTC+0000
3  977428d851b24183b223be0eb8619a8c              ...               2011-11-09 20:39:29 UTC+0000
4  e2d57e5041a44f489288397c9904c2b2              ...               2011-12-10 22:14:44 UTC+0000

[5 rows x 5 columns]

First I'll join questions and answers together. Notice that each column name is prepended with the table name.

In [7]:
question_answers = questions.merge(right=answers, how='inner', left_on='questions_id', right_on='answers_question_id')

In [8]:
question_answers.head()

                       questions_id                        ...                                                               answers_body
0  332a511f1569444485cf7a7a556a5e54                        ...                          <p>Hi!</p>\n<p>You are asking a very interesti...
1  eb80205482e4424cad8f16bc25aa2d9c                        ...                          <p>Hi. I joined the Army after I attended coll...
2  eb80205482e4424cad8f16bc25aa2d9c                        ...                          <p>Dear Priyanka,</p><p>Greetings! I have answ...
3  4ec31632938a40b98909416bdd0decff                        ...                          <p>I work for a global company who values high...
4  2f6a9a99d9b24e5baa50d40d0ba50a75                        ...                          I agree with Denise. Every single job I've had...

[5 rows x 10 columns]

The next thing I will do add the professionals table, because at the end of the day we'll probably need to know who answers which kinds of questions.

In [9]:
qa_professionals = question_answers.merge(right=professionals, left_on='answers_author_id', right_on='professionals_id')
qa_professionals.head()

                       questions_id              ...                  professionals_date_joined
0  332a511f1569444485cf7a7a556a5e54              ...               2015-10-19 20:56:49 UTC+0000
1  0f1d6a4f276c4a05878dd48e03e52289              ...               2015-10-19 20:56:49 UTC+0000
2  0149c6d63e214040b44d4a3789bb00ba              ...               2015-10-19 20:56:49 UTC+0000
3  acc611cfb5c44daa8a3d7d65dfffa5ff              ...               2015-10-19 20:56:49 UTC+0000
4  b44409c0c83a43578f4f2d0a0e4d8ead              ...               2015-10-19 20:56:49 UTC+0000

[5 rows x 15 columns]